gen/
edmx/
schema.sql
*.db
default-env.json

bin/
target/
.flattened-pom.xml
.classpath
.project
.settings

node/
node_modules/

.mta/
*.mtar
Makefile*
mta-op*
data.zip

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.idea


# added by cds deploy
connection.properties
